// Typogrpahy Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-sans-serif:        'proxima-nova', 'Helvetica', sans-serif;
$secondary-sans-serif:      'din-condensed', 'Georgia', serif;
$primary-mono:              'roboto-mono', monospace;

// Sizes
$font-size-base:  15px;

$s-alpha:         40px;
$s-bravo:         38px;
$s-charlie:       32px;
$s-delta:         22px;
$s-echo:          18px;
$s-foxtrot:       $font-size-base;
$s-golf:          14px;
$s-hotel:         10px;

// Letter Spacing
$l-alpha:         5px;

// Line Heights
$base-line-height: 1.0;
$base-line-small:  $font-size-base;

// Text Alignment
$text-align-center:  center;
$text-align-left:    left;
$text-align-justify: justify;
$text-align-right:   right;

// Text Alignment List
$text-alignments: (
  center    $text-align-center,
  left      $text-align-left,
  justify   $text-align-justify,
  right     $text-align-right
);

// Text Colors Map
$type-colors: (
  'blue':      ( $blue-base  ),
  'grey':      ( $grey-base  ),
  'white':     ( $white-base )
);